h1{
  font-family:cursive;
  color:red;
  background-color:black;
  margin-top:20px;
  margin-right:auto;
  margin-bottom:20px;
  margin-left:auto;
  text-align:center;
}
h2{
  font-family:cursive;
  color:red;
  background-color:black;
  margin-top:20px;
  margin-right:auto;
  margin-bottom:20px;
  margin-left:auto;
  text-align:center;
}
img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
p{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color:red;
  background-color:black;
  padding: 40x 40x 40x 40x;
}
a:hover{
  color:green;
}
a:active{
  color:blue;
}
a:visited{
  color:purple;
}
ol{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color:red;
  background-color:black;
  padding: 40x 40x 40x 40x;
}
ul{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color:red;
  background-color:black;
  padding: 40x 40x 40x 40x;
}
table{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color:red;
  background-color:black;
  margin-top:20px;
  margin-right:auto;
  margin-bottom:20px;
  margin-left:auto;
}
